<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register</title>
    <link rel="stylesheet" href="/static/css/styles_auth.css">
</head>
<body>
    <div class="container" id="container">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Войти</button>
                <button type="button" class="toggle-btn" onclick="register()">Регистрация</button>
            </div>
            <form id="login" class="input-group" method="post" action="/auth/login">
                <input type="text" class="input-field" placeholder="Login" id="login" name="login" required>
                <input type="password" class="input-field" placeholder="Password" id="password" name="password" required>
                <button type="submit" class="submit-btn">Войти</button>
            </form>
            <form id="register" class="input-group" method="post" action="/auth/register">
                <input type="text" class="input-field" placeholder="Username" id="username" name="username" required>
                <input type="text" class="input-field" placeholder="Login" id="login" name="login" required>
                <input type="password" class="input-field" placeholder="Password" id="password" name="password" required>
                <button type="submit" class="submit-btn">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    <script src="/static/js/script_auth.js"></script>
</body>
</html>
