{% extends "base.html" %}

{% block content %}

    

    <!-- Центральный блок с описанием игры -->
    <main>
        <div class="description">
            <h1>Добро пожаловать в Бросок Кости!</h1>
            <p>Совмещай кубики с одинаковыми значениями в колонке, чтобы умножить их.</p>
            <p>Размещая кубик, отменяй все кубики того же номинала у оппонента.</p>
            <p>Заполни все девять ячеек для окончания игры и подсчета очков.</p>
            <a href="/start-games" class="play-button">Играть</a>
        </div>
    </main>

    <!-- Контакты -->
    <footer>
        <div class="contacts">
            <p>Контакты:</p>
            <p>Email: example@example.com</p>
            <p>Tg: @Sombion</p>
        </div>
    </footer>

{% endblock content %}
	