{% extends "base.html" %}

{% block content %}


<!-- Центральный блок с описанием игры -->
<main>
	<div class="description">
		<h1>Правила</h1>
		<p>Результат представляет собой сумму всех костей.</p>
		<div class="description-rules">
			<div>
				<p>Если в столбец попадают одинаковые кости,</p>
				<p>их сумма умножается на количество.</p>
			</div>
			<div>
				<p>Если вы ставите напротив кости соперника</p>
				<p>такую же, его кость пропадает.</p>

			</div>
		</div>
	</div>
</main>

{% endblock content %}