<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Page</title>
    <link rel="stylesheet" href="/static/css/styles_start_games.css">
</head>
<body>
    <div class="loading-container">
        <div class="loading-animation">
            <div class="loading-circle"></div>
        </div>
        <div class="loading-text" id="loading_text">Поиск противника...</div>
        <div class="loading-status" id="loading_status">0/2</div>
        <button class="cancel-btn" onclick="cancelLoading()">Отмена</button>
    </div>

    <script src="/static/js/script_start_games.js"></script>
</body>
</html>